*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
}

.main nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}


.main nav .logoBox{
    display: flex;
    align-items: center;
    gap: 20px;
}

.main nav .logo{
    height: 47px;
    width: 47px;
    border-radius: 50%;
}

.main nav .logo svg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.main nav .logoBox .links{
    display: flex;
    align-items: center;
}

.main nav .logoBox .links a{
    margin: 0 7px ;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}

.main nav .logoBox .links a:hover{
    opacity: 0.4;
}

.iconsBox{
    display: flex;
    align-items: center;
    gap: 10px;
}

.iconsBox .icons{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsBox .icons i{
    font-size: 27px;
    font-weight: 600;
    color: rgb(48, 47, 47);
    cursor: pointer;
}

.iconsBox .icons i:hover{
    opacity: .6;
}

.iconsBox .image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.searchBox{
    height:80%;
    width: 70%;
    display:flex;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    background-color: #eaeaeaea;
    cursor:pointer;
    position: relative;
}

.searchBox .search{
    position: relative;
}

.searchBox .search .searchData{
    background-color: white;
    display: none;
    z-index: 5;
    /* border: 2px solid; */
    position: absolute;
    top: 100%;
    padding: 10px;
    /* position: ; */
    left: 50%;
    width: 99.4%;
    transform:translateX(-50%);
    min-height: 20%;
    border-radius: 8px;
    overflow: hidden;
}

.searchBox .search .searchData .res{
    display: flex;
    padding: 10px 24px;
    align-items: center;
}

.searchBox .search .searchData .res:hover{
    background-color: #eaeaeaea;
}

.searchBox .search .searchData .res i{
    font-size: 20px;
    margin: 0 10px 0 0 ;
    font-weight: 700;
}

.searchBox .search .searchData .res h3{
    font-size: 18px;
    font-family: sans-serif;
}


.searchBox #search{
    width:780px;
    padding: 20px;
    height:68px;
    font-size: 19px;
    border: none;
    outline: none;
    border-radius: 50px;
    background-color: transparent;
}

.searchBox button{
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0 20px;
}

.searchBox .search .dropBtn{
    border-left: 2.5px solid gray;
    padding: 4px 14px;
}

.searchBox button i{
    color: dimgray;
    font-size: 17px;
}





.main .post .overlay{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0,0,0,.6);
}

.main .post .overlay .box{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 167, 167);
    border-radius: 50%;
    margin: 10px 20px;
    cursor: pointer;
}

.main .post .overlay  i{
    font-size: 25px;
    color: crimson;
    border: none;
    border-radius: 50%;
}

.container{
    padding: 3vh 0 0 0;
    width: 90%;
    margin: auto;
    columns: 5;
    column-gap: 20px;
}

.container .box{
    margin-bottom: 20px;
    width: 100%;
    break-inside:avoid ;
    border-radius: 15px;
}

.container .box img{
    max-width: 100%;
    min-width: 100%;
    border-radius: 10px;
    cursor: pointer;
    transition: .5 ease;
}

.container .box img:hover{
    opacity: 0.7;
    box-shadow: 5px 5px 3px 2px rgba(0,0,0,.3);
}


.caption {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
  }
/*   
  @media (max-width: 1427px) {
    .container {
      columns: 5;
      width: calc(100% - 40px);
    }
  }
  @media (max-width: 1200px) {
    .container {
      columns: 4;
    }
  }
  
  @media (max-width: 1000px) {
    .container {
      columns: 3;
    }
  
    body {
      overflow-x: hidden;
    }
  }
  
  @media (max-width: 786px) {
    .container {
      columns: 2;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      columns: 1;
    }
  } */